# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
coverage/lcov.info
coverage/html/cmd_line
coverage/html/index-sort-f.html
coverage/html/index-sort-l.html
coverage/html/index.html
coverage/html/database/habits_database_helper.dart.gcov.html
coverage/html/database/index-sort-f.html
coverage/html/database/index-sort-l.html
coverage/html/database/index.html
coverage/html/database/points_database_helper.dart.gcov.html
coverage/html/database/rewards_database_helper.dart.gcov.html
coverage/html/database/tasks_database_helper.dart.gcov.html
coverage/html/features/settings/index.html
coverage/html/features/settings/settings_page.dart.gcov.html
coverage/html/features/settings/widgets/app_version_widget.dart.gcov.html
coverage/html/features/settings/widgets/data_management_widget.dart.gcov.html
coverage/html/features/settings/widgets/index-sort-f.html
coverage/html/features/settings/widgets/index-sort-l.html
coverage/html/features/settings/widgets/index.html
coverage/html/features/settings/widgets/theme_selector_widget.dart.gcov.html
coverage/html/model/habit.dart.gcov.html
coverage/html/model/index-sort-f.html
coverage/html/model/index-sort-l.html
coverage/html/model/index.html
coverage/html/model/point.dart.gcov.html
coverage/html/model/reward.dart.gcov.html
coverage/html/model/task.dart.gcov.html
coverage/html/provider/index-sort-f.html
coverage/html/provider/index-sort-l.html
coverage/html/provider/index.html
coverage/html/provider/points_provider.dart.gcov.html
coverage/html/provider/theme_notifier.dart.gcov.html
coverage/html/services/database_export_import_service.dart.gcov.html
coverage/html/services/index.html
coverage/html/services/ui/dialog_service.dart.gcov.html
coverage/html/services/ui/index.html
coverage/lcov.info
coverage/lcov.info
coverage/lcov.info
coverage/lcov.info
